* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aqua;
}

nav {
    background-color: aquamarine;
    
}

header {
    background-color: azure;
    position: fixed;
    width: 100%;
}

header > h1 {
    background-color: red;
}

video {
    margin-top: 8rem;
    width: 100%;
}

h2 {
    border-bottom: 1px solid red;
    margin-bottom: 1rem;

}

#intro {
    background-image: url("../img/hamburger-494706_1920.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    margin-bottom: 4rem;
    padding: 1rem 0;

}

article {
    margin-bottom: 2rem;
    margin: 0 1rem;
    backdrop-filter: blur(10px);
    padding: 1rem;

}


