* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: azure;
}

header > h1 {
    background-color: red;
}

body {
    background-color: aqua;
    margin: 0;
}

nav {
    background-color: aquamarine;
}

video {
    width: 100%;
}